h1{
    color: red;
    text-align: center;
}
img{
    width: 100%;
    height: 200px;
}
ul{
    list-style: none;
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li{
    flex: 0 0 30%;    
}